/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$black: #000;
$pink: rgb(231, 50, 123);
$blue: #2BABE1;
$darkblue: #249ACB;
$orange: #F58A20;
$green: #73BF44;
$purple: #9F90C8;
$darkpurple: rgb(89, 67, 151);
